*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 100vh;
    background-color:cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
div>img{
    width: 20%;
    height: 200px;
}