*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
}
.box1{
    width: 100vw;
    height: 33%;
    background-color: orange;
}
.box2{
    width: 100vw;
    height: 34%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    width: 100vw;
    height: 33%;
    background-color: green;
}

img{
    height: 200px;
    width: 200px;
    transition: all 4s ease-in;
}
img:hover{
    transform: rotate(360deg);
}