*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 450px;
    margin: 30px;
    text-align: center;
    background-color: red;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 1px 2px 4px black;
}

.container > img{
    height: 130px;
    margin-bottom: 10px;

}

.container > h1{
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-shadow: 1px 2px 2px black;
    margin-bottom: 10px;
}

.container > #location{
    font-size: 18px;
    font-weight: bold;
    color:white;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}

.container > p:nth-child(4)
{
    font-size: 17px;
    color:white;
    font-style: italic;
    margin-bottom: 10px;
}

.container > button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: goldenrod;
    color:white;
    border: none;
    cursor: pointer;
}

.container > button:hover{
    background-color: chocolate;
}